<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
		stopOnError="false"
		stopOnFailure="false"
		stopOnIncomplete="false"
		stopOnSkipped="false"
		stopOnRisky="false"
		bootstrap="tests/bootstrap.php"
		processIsolation="false"
	>
	
	<testsuites>
		<testsuite name="Testcases">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	
	<filter>
		<whitelist>
			<directory>src</directory>
			<exclude>
				<file>src/bootstrap.php</file>
				<file>src/constants.php</file>
				<file>src/exception.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>